<html xmlns:th="http://www.thymeleaf.org">
</style>
    <div th:fragment="passwordChangeNotificationModal" class="password-change-notification-modal" id="passwordChangeNotificationModal">
        <div class="modal-body">
            <h2>지시사항 이메일로 전송완료</h2>
            <p>계정 비밀번호 변경 방법을 <span style="font-family: bold">이메일</span>(으)로 보냈어요. 받은 편지함 또는 스팸함을 확인해 주세요.</p>
            <div class="confirm-btn-wrapper">
                <button type="button" id="loginConfirmBtn">확인</button>
            </div>
        </div>
    </div>
</html>