<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<style>
</style>
<body>
  <div>
    <div class="channel-name">
      <label for="name">채널이름</label>
      <input id="name" type="text">
    </div>
    <div class="channel-type">
      <fieldset>
        <legend>채널유형</legend>
          <div>
            <label for="channelTypeText">TEXT</label>
            <input name="channelType" id="channelTypeText" type="radio" value="TEXT">
          </div>
          <div>
            <label for="channelTypeVoice">VOICE</label>
            <input name="channelType" id="channelTypeVoice" type="radio" value="VOICE">
          </div>
      </fieldset>
    </div>
    <div>
      <label for="isSecret">비공개여부</label>
      <input id="isSecret" type="checkbox">
    </div>
    <button type="button" id="createChannelBtn" class="create-channel-btn">create channel</button>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
  /*
  * ajax 요청시 자동으로 header에 csrf 토큰 삽입
  * */
  $(function () {
    var csrfToken = [[${_csrf.token}]];
    var csrfHeader = [[${_csrf.headerName}]];

    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  })

  $(document).ready(function () {
    /*
    * 채널생성
    * */
    document.getElementById("createChannelBtn").onclick = () => {
      /* requestparam */
      const groupId = [[${groupId}]];
      const categoryId = [[${categoryId}]];

      let queryString = `?groupId=${groupId}`
      if (categoryId != null && categoryId !== ''){
        queryString += `&categoryId=${categoryId}`;
      }

      /* requestbody */
      const requestBodyData = {
        channelName : document.getElementById("name").value,
        channelType : document.querySelector('input[name = "channelType"]:checked').value,
        isSecret : document.getElementById("isSecret").checked
      }

      $.ajax({
        type: "POST",
        url: "/channel/create" + queryString,
        contentType: "application/Json",
        data: JSON.stringify(requestBodyData),
        statusCode : {
          201 : function (data,textStatus,jqXHR) {
            let newLocation = jqXHR.getResponseHeader('Location');
            if (newLocation) {
              console.log(newLocation);
              window.location.href = newLocation;
            } else {
              console.log("Location 헤더를 찾을수 없습니다.")
            }
          }
        },
        success: function (response) {
          if (response === "SUCCESS") {
            console.log(response);
          }
        },
        error : function (request, error) {
          console.log(request);
        }
      })
    }
  })

</script>
</html>