<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<style>
</style>
<body>
  <div>
    <div class="channel-name">
      <label for="createChannelName">채널이름</label>
      <input id="createChannelName" type="text">
    </div>
    <div class="channel-type">
      <fieldset>
        <legend>채널유형</legend>
          <div>
            <label for="createChannelTypeText">TEXT</label>
            <input name="channelType" id="createChannelTypeText" type="radio" value="TEXT">
          </div>
          <div>
            <label for="createChannelTypeVoice">VOICE</label>
            <input name="channelType" id="createChannelTypeVoice" type="radio" value="VOICE">
          </div>
      </fieldset>
    </div>
    <div>
      <label for="createChannelIsSecret">비공개여부</label>
      <input id="createChannelIsSecret" type="checkbox">
    </div>
    <button type="button" id="createChannelBtn" class="create-channel-btn">create channel</button>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    /** 채널생성 **/
    document.getElementById("createChannelBtn").onclick = () => {
      const groupId = [[${groupId}]];
      const categoryId = [[${categoryId}]];
      createChannel(groupId, categoryId);
    }
  })

</script>
</html>