<!--채팅방 메인화면-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" th:href="@{/css/main/channel.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <!--axios 자동완성을 위한 내부 import-->
  <script type="importmap">
  {
    "imports" : {
      "axios" : "https://cdn.jsdelivr.net/npm/axios@1.13.2/+esm"
    }
  }
  </script>
  <!--1. 외부 js 로직-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script> <!--SOCKJS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script> <!--STOMP-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> <!--JQUERY, AJAX-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!--AXIOS-->
  <title>channel</title>
</head>
<body>
  <div class="container">
    <div class="left-container">
      <div class="left-object">
        <!--1. 왼쪽 서버바-->
        <aside th:replace="~{fragments/layout/sidebar :: sidebar}"></aside>
        <!--2. 채널 목록-->
        <div th:replace="~{fragments/layout/channel-list :: channelList}"></div>
      </div>
      <!--3. 내 프로필 하단바-->
      <div th:replace="~{fragments/layout/my-profile :: myProfile}"></div>
    </div>

    <!--4. 채팅 영역-->
    <main id="mainChatWrapper">
      <div th:replace="~{fragments/layout/invite-area :: inviteArea}"></div>
      <div th:replace="~{fragments/layout/chat-area :: chatArea}"></div>
    </main>

    <!--5. 우측 접속자 목록-->
    <div th:replace="~{fragments/layout/member-list :: memberList}"></div>
  </div>
  <!-- 가입용 모달 -->
  <div th:replace="~{fragments/modals/modals :: inviteJoinModal}"></div>
  <!-- 관리용 모달 -->
  <div th:replace="~{fragments/modals/invite-modal :: inviteManageModal}"></div>
  <div th:replace="~{fragments/modals/invite-modal :: inviteGroupmodal}"></div>
  <!-- 그룹 생성 모달 -->
  <div th:replace="~{fragments/modals/group-create-modal :: groupFormModal}"></div>
  <!-- 카테고리 생성 모달 -->
  <div th:replace="~{fragments/modals/category-create-modal :: categoryCreateModal}"></div>
  <!-- 채널 생성 모달 -->
  <div th:replace="~{fragments/modals/channel-create-modal :: channelCreateModal}"></div>
  <!-- 그룹 우클릭 이벤트 모달 -->
  <div th:replace="~{fragments/common/context-menu :: groupContextMenu}"></div>
  <!-- 채널 우클릭 이벤트 모달 -->
  <div th:replace="~{fragments/common/context-menu :: channelListContextMenu}"></div>
</body>
<!--2. 타임리프 변수 선언-->
<script th:inline="javascript">
  const currentGroupId = [[${currentGroup?.id}]];
  const currentCategoryId = [[${categories?.id}]];
  const currentChannelId = [[${currentChannel?.id}]];
  const csrfToken = [[${_csrf?.token}]];
  const csrfHeader = [[${_csrf?.headerName}]];
</script>
<!--4. 메인 실행 파일-->
<script type="module" th:src="@{/js/common/main.js}"></script>
</html>