<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<style>
</style>
<body>
  <div>
    <form th:action="@{/channel/create(groupId = ${groupId}, categoryId = ${categoryId})}"
          th:object="${request}" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div class="channel-name">
        <label for="name">채널이름</label>
        <input id="name" type="text" th:field="*{channelName}">
      </div>
      <div class="channel-type">
        <fieldset>
          <legend>채널유형</legend>
            <div>
              <label for="channelTypeText">TEXT</label>
              <input name="channelType" id="channelTypeText" type="radio" value="TEXT" th:field="*{channelType}">
            </div>
            <div>
              <label for="channelTypeVoice">VOICE</label>
              <input name="channelType" id="channelTypeVoice" type="radio" value="VOICE" th:field="*{channelType}">
            </div>
        </fieldset>
      </div>
      <div>
        <label for="isSecret">비공개여부</label>
        <input id="isSecret" type="checkbox" th:field="*{isSecret}">
      </div>
      <button type="submit">create channel</button>
    </form>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
  /*
  * ajax 요청시 자동으로 header에 csrf 토큰 삽입
  * */
  $(function () {
    var csrfToken = [[${_csrf.token}]];
    var csrfHeader = [[${_csrf.headerName}]];

    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  })

</script>
</html>