<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<style>
</style>
<body>
  <div>
    <label for="groupName">서버 이름</label>
    <input type="text" id="groupName" placeholder="서버이름">
    <button type="button" id="createGroupBtn" class="create-group-btn">create Group</button>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
  /*
  * ajax 요청시 자동으로 header에 csrf 토큰 삽입
  * */
  $(function () {
    var csrfToken = [[${_csrf.token}]];
    var csrfHeader = [[${_csrf.headerName}]];

    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  })

  $(document).ready(function () {
    /*
    * 그룹생성
    * */
    document.getElementById("createGroupBtn").onclick = () => {
      const profileUrl = "/images/meeng.png";
      $.ajax({
        type: "POST",
        url: "/group/create",
        contentType: "application/json",
        data: JSON.stringify({
          name : document.getElementById("groupName").value,
          profile : profileUrl
        }),
        statusCode : {
          201: function (data, textStatus, jqXHR) {
            const newLocation = jqXHR.getResponseHeader('Location');

            if (newLocation) {
              console.log("이동 : ", newLocation);
              window.location.href = newLocation;
            } else {
              console.log("Location 헤더를 찾을수없습니다.")
            }
          }
        },
        error : function (request, error) {
          console.log("에러 : ", request);
        }
      });
    }
  })
</script>
</html>