<!DOCTYPE html>
<html lang="en">
<head>
  <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<style>
</style>
<body>
  <div>
    <label for="groupName">서버 이름 : </label>
    <input type="text" id="groupName" placeholder="서버이름">
  </div>
  <div>
    <label for="profileImg">그룹 프로필 이미지 : </label>
    <input type="file" id="profileImg" accept="image/*">
  </div>
  <div>
    <button type="button" id="createGroupBtn" class="create-group-btn">create Group</button>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
  /*
  * ajax 요청시 자동으로 header에 csrf 토큰 삽입
  * */
  $(function () {
    var csrfToken = [[${_csrf.token}]];
    var csrfHeader = [[${_csrf.headerName}]];

    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  })

  $(document).ready(function () {
    /*
    * 그룹생성
    * */
    document.getElementById("createGroupBtn").onclick = () => {

      const formData = new FormData();

      const groupName = document.getElementById("groupName").value;
      const fileInput = document.getElementById("profileImg");

      console.log(groupName, fileInput.files[0])

      formData.append("name", groupName);

      if (fileInput.files.length > 0) {
        formData.append("profile", fileInput.files[0]);
      }

      $.ajax({
        type: "POST",
        url: "/group/create",
        data: formData,
        processData: false,
        contentType: false,
        statusCode : {
          201: function (data, textStatus, jqXHR) {
            console.log("그룹이 성공적으로 생성되었습니다.");

            const newLocation = jqXHR.getResponseHeader('Location');

            if (newLocation) {
              window.location.href = newLocation;
            } else {
              console.log("Location 헤더를 찾을수없습니다.")
            }
          }
        },
        error : function (request, error) {
          console.log("에러 : ", request);
        }
      });
    }
  })
</script>
</html>