<link rel="stylesheet" type="text/css" href="/css/header/header.css" />
<div class="container">
  <header style="background-color: gray">
    <h1>wuwaChat</h1>
    <img claas="main-logo" src="/images/wuwa-icon.png" title="wuwachat_메인로고"/>
    <nav>
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">채팅방목록</a></li>
          <li><a href="#">회원목록</a></li>
          <li><a href="#">About</a></li>
        </ul>
    </nav>
    <!--
    <div>
      <button type="button" onclick="location.href='/login/login'" >Login</button>
      <button type="button" onclick="location.href='/member/insert'">Sign-up</button>
    </div>
    -->
  </header>
</div>