.channel-modal {

}
.section-title {
    font-size: 18px;
}


.type-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 12px;
    transition: background-color 0.1s;
}
.type-item:hover{
    background-color: #3f4147;
}
.type-item.selected {
    background-color: #43444b;
}

.type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
.type-info {
    display: flex;
    flex-direction: column;
}
.type-info p {
    margin: 0;
}

/* 라디오 표시기 */
.radio-indicator {
    width: 20px;
    height: 20px;
    border: 2px solid #b5bac1;
    border-radius: 50%;
    position: relative;
}
.type-item.selected .radio-indicator {
    border-color: #f2f3f5;
}
.type-item.selected .radio-indicator::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f2f3f5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}


/*입력창*/
.input-wrapper {
    display:flex;
    align-items: center;
    background-color: #1e1f22;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.input-wrapper span {
    margin-right: 8px;
    font-size: 20px;
    color: #80848e;
    box-sizing: border-box;
}

.input-wrapper input {
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

.toggle-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-with-icon {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.label-with-icon p {
    margin-bottom: 0px;
}

/*비공개여부 슬라이드*/
.switch {
    position: relative;
    width: 40px;
    height: 24px;
    background: #6C6D74;
    border-radius: 24px;
    display: inline-block; /*히트박스, 다른 곳으로 옮겨도 잘나오려면 있어야함.*/
}
.switch input {
    position: absolute; /* 문서 흐름에서 완전히 제외 (다른 요소를 밀지 않음) */
    opacity: 0;
    width: 0;
    height: 0; /* 유령 클릭 방지*/
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #80848e;

    border-radius: 24px;
    cursor: pointer;

    transition: .4s;
}
.slider:before { /*slider 안에 동그란 버튼*/
    position: absolute; /*switch 기준*/
    content: "x";

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;

    color: #6C6D74;

    /*요소 정렬*/
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */

    /*약간의 공백 마련*/
    top: 3px;
    left: 3px;

    transition: .4s;
}
.switch input:checked + .slider { /* input이 checked 되면 slider를 */
    background-color: #5865f2;
}
.switch input:checked + .slider:before {
    transform: translateX(16px); /*16px 만큼 X축으로 이동*/
    content: "✓"; /* content 변경 */
    color: #5865f2;
}
