.channel-modal {

}


.modal-close-btn {
    cursor: pointer;
}


.type-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 12px;
    transition: background-color 0.1s;
}
.type-item:hover{
    background-color: #3f4147;
}
.type-item.selected {
    background-color: #43444b;
}

.type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
.type-info {
    display: flex;
    flex-direction: column;
}
.type-label {
    font-size: var(--font-desc-size);
}
.type-desc {
    margin: 0;
    font-size: var(--font-desc-size);
}

/* 라디오 표시기 */
.radio-indicator {
    width: 20px;
    height: 20px;
    border: 2px solid #b5bac1;
    border-radius: 50%;
    position: relative;
}
.type-item.selected .radio-indicator {
    border-color: #f2f3f5;
}
.type-item.selected .radio-indicator::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f2f3f5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/*입력창*/
.input-wrapper span {
    margin-right: 8px;
    font-size: 20px;
    color: #80848e;
    box-sizing: border-box;
}

.channel-create-btn{
    flex: 1;
}