.left {
    padding: 10px;
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 90vh;

    background-color: #2E2E34;
    color: white;
    box-sizing: border-box;

    /*스크롤 관련*/
    overflow-x: scroll;
    overflow-y: scroll;
}
.left-header {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}
.left-header h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.left-body {
    display: flex;
    flex-direction: column;
}
.category-dropdown {
}
.category-dropdown.active .channel-list{
    display: none; /*active하면 channel-list : block*/
}
.category-dropdown.active .category-dropdown-icon {
    transform: rotate(-90deg);
}
.category-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 7px;
}
.category-header {
    display:flex;
    gap: 5px;
}
.category-dropdown-icon {
    cursor: pointer;
}
.category-plus-icon {
    padding: 1px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.channel-list {
    display: block;
    width: 100%;
    background: #1A1A1E;
}
.channel-item {
    border: none;
    border-radius: 7px;
    padding: 3px 7px;
}

.profile-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
.profile-image-wrapper {
    margin: 0;
    margin-left: 5px;
}
.profile-image-wrapper .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.profile-nickname-wrapper {
    margin: 0;
}
.profile-nickname-wrapper p{
    margin : 0;
    line-height: 10vh;
}
.channel-categorized-group {
    width: 100%;
    box-sizing: border-box;
}
.categorized-channel-table {
    width: 100%;
    border: 1px solid black;
}
.categorized-channel-table-body {

}
.categorized-channel-table-row {
    border: 1px solid black;
}