<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="groupContextMenu">
    <div id="groupContextMenu" class="context-menu">
      <ul>
        <li onclick="openEditGroupModal()">그룹 수정</li>
        <li class="delete-item" id="deleteGroupMenu">그룹 삭제</li>
      </ul>
    </div>
  </div>
  <div th:fragment="channelListContextMenu">
    <div id="channelListContextMenu" class="context-menu">
      <ul>
        <li onclick="createCategoryModal()">카테고리 만들기</li>
        <li onclick="createChannelModal()">채널 만들기</li>
        <li onclick="inviteGroupModal()">서버에 초대하기</li>
      </ul>
    </div>
  </div>
</html>