:root {
    --hover-bg-color: #6C6D74;
    --font-color: white;
    --font-desc-size: 12px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*box-sizing all*/
    font-family: sans-serif;
}
p {
    margin: 0;
}

