:root {
    --hover-bg-color: #6C6D74;
    --font-desc-size: 12px;
    --main-bg-color: #1A1A1E;
    --main-font-color: white;
    --chat-area-bg-color: #2E2E34;
    --border-radius: 7px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*box-sizing all*/
    font-family: sans-serif;
}
p {
    margin: 0;
}

