<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 재발급</title>
</head>
<style></style>
<body>
    <h1>비밀번호 재발급</h1>
    <label for="email">가입 이메일</label>
    <input type="email" id="email" placeholder="이메일" required/>
    <button type="button" id="send-code-button">임시 비밀번호 발송</button>
    <p id="emailCheckMessage" class="error"></p>

    <div id="verifyCodeSection">
        <label for="temporaryPassword">임시 비밀번호</label>
        <input type="text" id="temporaryPassword" placeholder="임시 비밀번호 입력" required />
        <button type="button" id="verify-temporary-password-button">임시 비밀번호 확인</button>
        <span id="verificationMessage" class="error"></span>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
    // 임시 비밀번호 입력 섹션
    document.getElementById("verifyCodeSection").style.display = "none";
    // 이메일 체크 오류 문단
    document.getElementById("emailCheckMessage").style.display = "none";

    /*
    * 임시 비밀번호 발송
    * */
    document.getElementById("send-code-button").onclick = () => {
        let email = document.getElementById("email").value;

        $.ajax({
           type: 'POST',
            url: '/mail/check-mail',
            contentType: 'application/json',
            data: JSON.stringify({"mail": email}),
            success: function(response) {
                if (response) {
                    $.ajax({
                        type: 'POST',
                        url: '/mail/reset-password',
                        contentType: 'application/json',
                        data: JSON.stringify({"mail": email}),
                        success: function (response) {
                            document.getElementById("verifyCodeSection").style.display = "block";
                            alert("임시 비밀번호가 이메일로 발송되었습니다. 이메일을 확인해주세요.");
                        },
                        error : function(error) {
                            alert("임시 비밀번호 발송에 실패했습니다. 다시 시도해주세요.");
                        }
                    })
                } else {
                    document.getElementById("emailCheckMessage").style.display = "block"
                    document.getElementById("emailCheckMessage").innerText = "해당 이메일로 가입된 사용자가 없습니다.";
                }
            },
            error: function (error) {
                alert('이메일 확인 중 오류가 발생했습니다. 다시 시도해주세요.');
            }
        });
    };

    // 임시 비밀번호 확인 버튼
    document.getElementById("verify-temporary-password-button").onclick = () => {
        const email = document.getElementById("email").value;
        const tempPassword = document.getElementById("temporaryPassword").value;
        console.log(email, tempPassword);
        $.ajax({
            type: 'POST',
            url: '/mail/verify-temporary-password',
            contentType: 'application/json',
            data: JSON.stringify({mail : email, tempPassword: tempPassword}),
            success: function (response) {
                if (response === "Verified") {
                    alert("임시 비밀번호가 확인되었습니다. 로그인하세요.");
                    window.location.href = "/login";
                } else {
                    console.log(response + ", " + typeof response);
                    document.getElementById("verificationMessage").style.display = "block";
                    document.getElementById("verificationMessage").innerText = "임시 비밀번호가 일치하지 않습니다. 다시 시도하세요.";
                }
            },
            error: function (error) {
                alert("임시 비밀번호 검증에 실패했습니다. 다시 시도하세요.");
            }
        });
    }
</script>
</html>