<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
        margin : 0;
        background-color: #F9F9F9;
    }
    .container {

    }
    .container .contenxt-box {
        border: 1px solid black;
    }

    .discord-btn {

    }
    .context-box a {
        border: 1px solid black;
        background-color: #A5A6AC;
        padding: 3px 10px;
    }

</style>
<body>
    <div class="container">
        <div class="container-header">
            <!--디스코드 버튼이미지-->
            <img th:src="${baseUrl} + '/images/discord-change-password-logo.png'" class="discord-btn">
            <!--<a th:href="@{/login}">discord</a>-->
        </div>
        <div class="context-box">
            <h3>Hey <span th:text="*{username}"></span>,</h3>
            <p>Your TAKATALK password can be reset by clicking the button below. If you did not request a new password, please ignore this email.</p>
            <a th:href="${baseUrl} + '/login/change-password?token=' + ${resetToken}">Reset Password</a>
            <hr/>
            <p>도움이 필요하신가요? 지원팀에 문의하거나 X(@TAKATALK)로 연락해 주세요.</br>
                피드백을 주고 싶으신가요? 피드백 사이트에서 의견을 들려주세요.</p>
        </div>
        <p>TAKATALK에서 보냄 • <span>블로그 확인하기</span> • <span>@TAKATALK</span>
        444 De Haro Street, Suite 200, San Francisco, CA 94107</p>
    </div>
</body>
<!--메일안에서는 실행안됨.-->
<!--<script th:inline="javascript">
</script>-->
</html>