<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/login/login-modal.css}"/>
    <link rel="stylesheet" th:href="@{/css/login/login.css}"/>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <div class="container">
        <div class="login-logo">
            <img th:src="@{images/discord-logo.svg}" class="discord-logo">
        </div>
        <div class="login">
            <form th:action="@{/login}" th:object="${userLoginForm}" method="post">
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
                <h2>로그인</h2>
                <div class="login-email">
                    <label for="email">이메일<span style="color: red;">*</span></label>
                    <input id="email" type="email" th:field="*{email}"required>
                    <p id="emailErrorMsg" class="error-msg" th:if="${error}" th:text="${exception}"></p>
                </div>
                <div class="login-password">
                    <label for="password">비밀번호<span style="color: red;">*</span></label>
                    <input id="password" type="password" th:field="*{password}" required>
                    <p id="passwordErrorMsg" class="error-msg" th:if="${error}" th:text="${exception}"></p>
                </div>
                <div class="global-error-msg-wrapper">
                    <p id = "globalErrorMsg" class="error-msg"></p>
                </div>

                <div class="send-change-password-wrapper">
                    <button type="button" id="sendChangePasswordBtn">비밀번호를 잊으셨나요?</button>
                </div>

                <div class="login-button-wrapper">
                    <button type="submit" id="loginBtn">로그인</button>
                </div>

                <div class="find-account">
                    <p>계정이 필요한가요?</p>
                    <a th:href="@{/user/signup}">가입하기</a>
                </div>
            </form>
      </div>
  </div>
    <!--로그인 모달-->
    <div th:replace="~{fragments/modals/login-modal :: passwordChangeNotificationModal}"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!--AXIOS-->
<!--2. 타임리프 변수 선언-->
<script th:inline="javascript">
    const csrfToken = [[${_csrf?.token}]];
    const csrfHeader = [[${_csrf?.headerName}]];
</script>
<!--3. UI/공통 로직-->
<script th:src="@{/js/login/login-ui-controller.js}"></script>
<!--4. 비즈니스 로직-->
<script th:src="@{/js/login/login-controller.js}"></script>
<!--5. 메인 실행 파일-->
<script th:src="@{/js/common/main.js}"></script>
</html>