@import "../common/common.css";
@import "../main/sidebar.css";
@import "../main/my-profile.css";
@import "../group/invite-modal.css";
@import "../group/group-create-modal.css";
@import "../channel/channel-list.css";
@import "../channel/channel-create-modal.css";
@import "../chat/chat-area.css";
@import "../category/category-create-modal.css";
@import "../member-list/member-list.css";
@import "../util/util.css";
@import "../component/context-menus.css";
@import "../component/modals.css";
@import "../component/titles.css";
@import "../component/buttons.css";
@import "../component/inputs.css";



body {
    background: #1A1A1E;
    min-height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    min-height: 100%;
}
.left-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #5865F2;
    box-sizing: border-box;
}
.left-container .left-object {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
}
.profile-image-wrapper {
    margin: 0;
    margin-left: 5px;
}
.profile-image-wrapper .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.left .chat-list {
    border: 1px solid black;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 7px;
}
.chat-list-body a{
    text-decoration: none;
}
.chat-list-body .chatroom-btn-wrapper {

}
.left .chat-list h3 {
    text-align: center;
}
.left .chat-list p {
    border: 1px solid black;
    border-radius: 7px;
    margin: 0;
}



.chat-list .chat-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chat-list-body {
    display: flex;
    justify-content: space-between;
}

.left .chatTable {
    width: 410px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
}
/*****************************************************************/
