<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="channelList" class="left">
        <div class="left-header">
            <div class="header-text">
                <h2>방제목</h2>
            </div>
            <div class="header-dropdown"> <!--동일하게 contextMenu-->
                <p>dropdown</p>
            </div>
        </div>
        <div class="left-body">
            <!--만들어진 채널들이 있다면-->
            <div class="channel-categorized-group" th:if="${channelGroupResponse}">
                <table class="categorized-channel-table" th:each="category : ${channelGroupResponse.categorizedChannels}">
                    <!--카테고리를 가진 채널이 있다면-->
                    <thead th:if="${category}">
                        <th th:text="${category.name}"></th>
                        <th>
                            <a th:href="@{/channel/create(groupId = ${currentGroup.id}, categoryId = ${category.id})}">채널생성</a>
                        </th>
                    </thead>
                    <tbody class="categorized-channel-table-body">
                    <tr class="categorized-channel-table-row" th:each="channel : ${category.channels}">
                        <th th:text="${channel.name}"></th>
                        <td th:text="${channel.type}"></td>
                        <td th:text="${channel.isSecret}"></td>
                        <td>
                            <a th:href="@{/channel/enter/{channelId}(channelId = ${channel.id}, groupId = ${currentGroup.id})}">채널입장</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <!--카테고리 없는 채널-->
            <div class="channel-uncategorized-group" th:if="${channelGroupResponse}">
                <table>
                    <tbody>
                        <tr th:each="channel : ${channelGroupResponse.uncategorizedChannels}">
                            <th th:text="${channel.name}"></th>
                            <td th:text="${channel.type}"></td>
                            <td th:text="${channel.isSecret}"></td>
                            <td>
                                <a th:href="@{/channel/enter/{channelId}(channelId = ${channel.id}, groupId = ${currentGroup.id})}">채널입장</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:fragment="myProfile">
        <!--프로필 하단바-->
        <a th:href="@{/templates/profile}" class="profile-link">
            <div class="left-profile-wrapper" id="leftProfileWrapper">
                <div class="profile-image-wrapper">
                    <img th:src="${user.profile}" class="profile-image">
                </div>
                <div class="profile-nickname-wrapper">
                    <p th:text="${user.nickname}"></p>
                </div>
                <div>
                    <img src="#" class="mic-image">
                </div>
                <div>
                    <img src="#" class="headphone-image">
                </div>
                <div>
                    <img src="#" class="setting-image">
                </div>
            </div>
        </a>
    </div>
</html>