<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="channelList" class="left">
        <div class="left-header">
            <th:block th:if="${currentGroup}" >
                <div class="header-title title" id="channelHeader">
                    <h3 th:text="${currentGroup.name}"></h3>
                    <span class="dropdown-icon">v</span><!--동일하게 contextMenu-->
                </div>
                <div class="invite-group-icon">
                    사람
                </div>
            </th:block>
            <th:block th:unless="${currentGroup}">
                <p class="main-title title interactive-item">대화 찾기 또는 시작하기</p>
            </th:block>
        </div>
        <div class="left-body">
            <th:block th:if="${channelGroupResponse}">
            <div class="category-section">

                <div class="category-dropdown" th:each="category : ${channelGroupResponse.categorizedChannels}">
                    <!--클릭 감지 트리거 토글-->
                    <div class="categorized-channel-dropdown interactive-item">
                        <div class="category-header">
                            <p th:text="${category.name}"></p> <!--카테고리 이름-->
                            <span class="category-dropdown-icon">v</span>
                        </div>
                        <!--채널 생성 모달-->
                        <div class="category-plus-icon">
                            +
                        </div>
                    </div>
                    <!-- 드롭다운 목록 -->
                    <div class="categorized-channel-list channel-list">
                    <th:block th:each="channel : ${category.channels}">
                        <div th:replace="~{::channelRow(${channel})}"></div>
                    </th:block>
                    </div>
                </div>

            </div>

            <!--카테고리 없는 채널-->
            <div class="uncategorized-channel-list channel-list">
            <th:block th:each="channel : ${channelGroupResponse.uncategorizedChannels}">
                <div th:replace="~{::channelRow(${channel})}"></div>
            </th:block>
            </div>

            </th:block>
        </div>
    </div>
    <!-- 채널 행 -->
    <div th:fragment="channelRow(channel)" th:data-channel-id="${channel.id}" class="channel-item interactive-item">
        <span class="channel-prefix">#</span>
        <span th:text="${channel.name}"></span>
    </div>
</html>
