<html>
<!--****채팅방****-->
<div th:fragment="inviteArea" id="inviteArea" class="center" th:unless="${currentChannel}" >
  <!--헤더 10vh-->
  <div class="invite-tab-header">
    <div class="tab-title">
      <div class="friend-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-friends">
          <path d="M12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="currentColor"/>
          <path d="M19.07 4.93L17.66 6.34C18.5 7.18 19 8.33 19 9.5C19 10.67 18.5 11.82 17.66 12.66L19.07 14.07C20.28 12.86 21 11.21 21 9.5C21 7.79 20.28 6.14 19.07 4.93Z" fill="currentColor"/>
        </svg>
      </div>
      <p class="header-title">친구</p> <!--채팅방 title-->
    </div>
    <p class="header-title">온라인</p> <!--채팅방 title-->
    <p class="header-title">모두</p> <!--채팅방 title-->
    <p class="header-title">대기중</p> <!--채팅방 title-->
    <div class="invite-friend-btn btn-primary">
      <p>친구 추가하기</p>
    </div>
  </div>
  <!--초대 공간 90vh-->
  <div id="inviteBox">
    <th:block th:if="${inviteResponseList}">
      <div class="invite-list" th:each="inviteResponse : ${inviteResponseList}">
        <div class="invite-info-wrapper">
          <div class="chatmessage-profile-wrapper">
            <!--<img class="chatmessage-profile" th:src="${inviteResponse.profile}">-->
            <img class="chatmessage-profile" src="../../../static/images/meeng.png">
          </div>
          <div class="invite-second-wrapper">
            <div class="invite-upper-wrapper">
              <div class="invite-username-wrapper">
                <p class="invite-nickname" th:text="${inviteResponse.username}">이정인</p>
              </div>
              <div class="invite-nickname-wrapper">
                <p class="invite-nickname" th:text="${inviteResponse.nickname}">리정인</p>
              </div>
            </div>
            <div class="invite-status">
              <p class="status-title" th:text="${inviteResponse.isOnline == true}">온라인</p>
              <p class="status-title" th:text="${inviteResponse.isOnline == false}">오프라인</p>
            </div>
          </div>
        </div>
        <div class="btn-invite-wrapper">
          <div class="btn-accept-invite">
            <span>✔</span>
          </div>
          <div class="btn-deny-invite">
            <span>X</span>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</div>
</html>
