#inviteGroupModal .modal-content {
    padding: 32px 40px;
    width: 500px;
}

#inviteGroupModal .modal-header {
    margin: 10px 0px;
}

#inviteGroupModal .search-icon {
    margin-right: 5px;
    box-sizing: border-box;
}

#inviteGroupModal .search-input {
    margin: 10px 0;
    padding: 10px 5px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
}

#inviteGroupModal .friends-list {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow-y: auto;
    box-sizing: border-box;
}

#inviteGroupModal .friends-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}
#inviteGroupModal .profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 40px;
    height: 40px;

    box-sizing: border-box;
}

#inviteGroupModal .profile-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
}
#inviteGroupModal .nickname-wrapper{
    box-sizing: border-box;
}
#inviteGroupModal .nickname-wrapper p{
    margin: 0;
}
#inviteGroupModal .btn-invite {
    box-sizing: border-box;
    cursor: pointer;
    background-color: #6C6D74;
    padding: 7px 15px; /* 버튼 크기 조절 */
    border: none;
    border-radius: 7px;
}
#inviteGroupModal .btn-invite p {
    margin: 0;
    color: white;
}

#inviteGroupModal .btn-copy{
    background-color: #5865f2; /* 디스코드 브랜드 색상 */
    padding: 7px 18px; /* 버튼 크기 조절 */
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
}
#inviteGroupModal .btn-copy p {
    white-space: nowrap;  /* 줄바꿈 x */
    margin: 0;
    color: white;
}

#inviteGroupModal .invite-channel-modal .confirm-btn-wrapper {
}
#inviteGroupModal .invite-channel-modal #confirmBtn{
    width: 100px;
    height: 40px;

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20px, -20px);

    border-radius: 10px;
    border-color: rgba(0,0,0,0);

    text-align: center;
    line-height: 2px; /* ? */

    padding: 0;
    color: white;
    background-color: red;
}
#inviteGroupModal #modalCloseBtn {
    background-color: black;
    color: #6C6D74;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 40px;
    font-size: 20px;
}
#inviteGroupModal #modalCloseBtn:hover {
    border: 1px solid black;
    background-color: #333333;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    color: white;
}

.invite-display-group {
    display: flex;
    gap: 8px;
    height: 40px;
}

#inviteManageModal .modal-content {
    padding: 32px 40px;
}